/* 
.menu-lambo {
    width: 100%;
    position: fixed;
    background: rgb(29, 29, 29);
    color: white;
    z-index: 1;
}


.container-menu{
    display: flex;
    justify-content: space-between;
}


.menu-geral {
    display: flex;
    align-items: center;
    padding: 9px;
    text-align: center;
    position: relative;
}

.info-left {
    display: inline-block;
    position: absolute;
    text-align: center;
    
}

.info-left ul {
    display: flex;
    padding-left: 10px;
}


.info-left li {
    list-style-type: none;
    padding: 13px;
    font-size: 1.0rem;
}
.logo img {
    max-width: 110px;
    margin-left: 40px;
}
.info-left a {
    color: white;
    text-decoration: none;
}


.info-right a {
    color: white;
    text-decoration: none;
}


.info-right ul {
    display: flex;
    padding-right: 10px;
}


.info-right li {
    list-style-type: none;
    padding: 13px;
    font-size: 1.0rem;
}


.icons {
    padding: 0 20px;
    margin: 10px;
}


.bi {
    padding: 0 15px;
    cursor: pointer;
}

.animacao {
    position: relative;
}

.animacao a::after{
    content: " ";
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.animacao a:hover::after{
    width: 100%;
}

.infos-dentro-models {
    z-index: 3;
} */

.menu {
    width: 100%;
    position: fixed;
    background-color: rgb(29, 29, 29);
    z-index: 1;
}

.container-menu {
    display: flex;
    justify-content: space-between;

}


.content-menu ul {
    list-style-type: none;
}

.content-menu {
    display: flex;
    text-align: center;
    position: relative;
    padding: 9px;
    align-items: center;
}

.content-menu li:hover {
    border-bottom: 1px solid white;
}

.content-menu>ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fff;
}

.content-menu > ul > li {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    float: left;
    width: 180px;
    height: 50px;
    line-height: 50px;
}

.info-left {
    position: absolute;
    display: inline-block;
}
/* 
.info-hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}

.info-hover li {
    background: #313131;
    display: none;
}

.info-hover li:hover {
    background: #029bd5;
}

.content-menu li:hover > .info-hover li{
    display: block;
}

.content-menu li:hover > .info-hover {
    perspective: 1000px;
}

.content-menu li:hover > .info-hover li{
    transform-origin: top center;
    opacity: 0;
}  */
