* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100%;
    height: 100dvh;
}


.menu-lambo {
    width: 100%;
    position: fixed;
    background: rgb(29, 29, 29);
    color: white;
    z-index: 1;
}


.container-menu{
    display: flex;
    justify-content: space-between;
}


.menu-geral {
    display: flex;
    align-items: center;
    padding: 9px;
    text-align: center;
    position: relative;
}


.info-left ul {
    display: flex;
    padding-left: 10px;
}


.info-left li {
    list-style-type: none;
    padding: 13px;
    font-size: 1.0rem;
}
.logo img {
    max-width: 110px;
    margin-left: 40px;
}
.info-left a {
    color: white;
    text-decoration: none;
}


.info-right a {
    color: white;
    text-decoration: none;
}


.info-right ul {
    display: flex;
    padding-right: 10px;
}


.info-right li {
    list-style-type: none;
    padding: 13px;
    font-size: 1.0rem;
}


.icons {
    padding: 0 20px;
    margin: 10px;
}


.bi {
    padding: 0 15px;
    cursor: pointer;
}

.animacao {
    position: relative;
}

.animacao a::after{
    content: " ";
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.animacao a:hover::after{
    width: 100%;
}

.infos-dentro-models {
    z-index: 3;
}

/* INTRODUÇÃO */


.intro-lambo {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

.video-intro {
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-intro video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}


.texto-intro {
    position: relative;
    top: 200px;
    left: 124px;
    color: white;
}


.texto-intro h2 {
    position: relative;
    top: 20px;
    left: 0;
    letter-spacing: -4px;
    line-height: 90px;
    font-size: 6.4rem;
    margin-right: 35%;
}

.msg-section{
    position: relative;
    background: rgb(4, 4, 4);
    color: white;
    text-align: center;
    top: -65px;

}

.container-section {
    position: fixed;
    background: rgb(4, 4, 4);
    padding: 5px 10px;
}


.button-intro {
    position: relative;
    top: 250px;
    left: 124px;
}

.button-intro svg {
    max-width: 58px;
    cursor: pointer;
}

.hexagon {
    fill: none; 
    stroke: white; 
    stroke-width: 2px; 
    transition: all .7s ease-in-out;
}

.icon {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

